node_modules
dist
dist-ssr
*.local
.DS_Store
server/data/*.db
server/data/*.db-journal
server/data/*.db-wal
server/data/*.db-shm
.vscode/*
!.vscode/extensions.json
npm-debug.log*

# scratch notebook screenshots
Pasted image*.png
